@keyframes slide-up {
	0% {
		translate: 100% 100%;
	}
	100% {
		translate: none none;
	}
}

@keyframes shake {
	0%,
	100% {
		translate: none none;
	}
	20%,
	40%,
	60%,
	80% {
		translate: -5%;
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		translate: 5%;
	}
}
