input:user-valid {
	border-color: green;
}
input:user-invalid:not(:focus) {
	border-color: red;
	animation: shake 0.7s linear both;
}

:is(form > div:has(input:user-invalid:not(:focus))) {
	animation: shake 1s linear both;
}
