<div @ondragover=@OnDragOver @ondrop=@OnDrop>
  <h3>@Title</h3>
  <div>
    <p>
      Lorem ipsum dolor sit amet.
    </p>
  </div>
  <div>
    @foreach (var task in filteredTasks)
    {
      <TaskCard task="task" />
    }
  </div>
</div>

@code {
  [EditorRequired][Parameter] public string Title { get; set; }
  [EditorRequired][Parameter] public List<TaskItemReadDto> tasks { get; set; }
  [EditorRequired][Parameter] public TaskItemStatus status { get; set; }
  List<TaskItemReadDto> filteredTasks => tasks.Where(task => task.Status == status).ToList();

  void OnDragOver(DragEventArgs e)
  {
    Console.WriteLine(e);

  }
  void OnDrop(DragEventArgs e)
  {
    Console.WriteLine(e);

  }

}