@page "/tasks/kanban"

<div>
  <h1>Tasks like kanban interface</h1>
  <div class="d-flex gap-2 rounded border ">
    <Column Title="Todos" />
    <Column Title="Pending" />
    <Column Title="Done" />
  </div>
</div>