@page "/"

<PageTitle>Home</PageTitle>

<div>
  <div>
    <h1>Homepage</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero animi quam id dolores dolorem enim veritatis.
      Exercitationem voluptas ab tempore?
    </p>
    <small>Welcome to your new app.</small>
  </div>

  <div class="mt-4 p-2">
    <h2>Login status</h2>
    <AuthorizeView>
      <NotAuthorized>
        <p>You are not logged in, <NavLink href="/account/login">please, login</NavLink>
        </p>
      </NotAuthorized>
      <Authorized>
        <p>You are logged adipisicing <span class="bg-success">@context.User.Identity!.Name</span></p>
        <p>
          <NavLink href="/account/logout" class="btn btn-danger">
            Logout
          </NavLink>
        </p>
        <ul>
          @foreach (var claim in context.User.Claims)
          {
            <li>@claim.Type <span>@claim.Value.ToString()</span></li>
          }
        </ul>
      </Authorized>
    </AuthorizeView>
  </div>
</div>
