@page "/local-weather"
@attribute [StreamRendering]
@attribute [Authorize]
@inject IHttpClientFactory httpClientFactory
@inject ILogger<Weather> logger

<PageTitle>Weather</PageTitle>

<h1 class="">Local Weatherforecast loaded from api</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th aria-label="Temperature in Celsius">Temp. (C)</th>
                <th aria-label="Temperature in Farenheit">Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToLongDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    public HttpClient weatherApiClient;

    protected override async Task OnInitializedAsync()
    {
        weatherApiClient = httpClientFactory.CreateClient("weather-api");
        try
        {
            var response = await weatherApiClient.GetFromJsonAsync<WeatherForecast[]>("/weatherforecast/");
            forecasts = response != null ? response.ToArray() : [];

        }
        catch (System.Net.Http.HttpRequestException ex)
        {
            logger.LogError($"backend api is not reachable {ex}");
            forecasts = null;
        }
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
